Repository arduino/docs-content, pull requests merged in 2022-04, with the labels that each got.

#136 Portenta breakout: Add compatible boards
  content/hardware/04.pro/carriers/portenta-breakout/compatibility.yml
Labels: Product page, fix/update

#138 [PC-883] benjamindannegard/Added info about bootloader update for Nicla
  content/hardware/05.nicla/boards/nicla-sense-me/tutorials/getting-started/getting-started.md
  content/hardware/05.nicla/boards/nicla-vision/tutorials/getting-started/content.md
Labels: arduino

#144 Portenta H7 Getting Started: Fix instructions [PC-308]
  content/hardware/04.pro/boards/portenta-h7/tutorials/por-ard-gs/assets/por_ard_gs_usb_driver_win.png
  content/hardware/04.pro/boards/portenta-h7/tutorials/por-ard-gs/content.md
Labels: fix/update, Tutorial, arduino, pro

#139 Maintenance 5th April [MKC-382, 387, 400]
  content/hacking/01.software/Bootloader/Bootloader.md
  content/retired/01.boards/arduino-duemilanove/content.md
  content/retired/01.boards/arduino-mega-adk-rev3/content.md
  content/retired/01.boards/arduino-usb-2-serial-micro/content.md
  content/retired/06.getting-started-guides/Robot/Robot.md
  content/software/ide-v1/tutorials/installing-libraries/installing-libraries.md
Labels: arduino

#146 Link migration www > docs
  content/hardware/04.pro/boards/portenta-h7/tutorials/por-openmv-gs/content.md
Labels: fix/update, Tutorial, community

#160 Braccio++: Upload stand 3D file as stl file (zip)
  content/hardware/06.edu/carriers/braccio-carrier/downloads/ABX00032-stand-stl.zip
Labels: Product page, fix/update, arduino, education

#127 benjamindannegard/ Updated bootloader update text
  content/hardware/04.pro/boards/portenta-h7/tutorials/por-ard-gs/content.md
  content/hardware/04.pro/boards/portenta-h7/tutorials/por-openmv-gs/content.md
  content/software/ide-v1/tutorials/getting-started/cores/arduino-mbed_portenta/installing-mbed-os-portenta-boards.md
Labels: arduino

#98 Add rules to find incorrectly formatted units
  scripts/validation/rules/rules-spelling.yml
Labels: arduino

#175 updated schematic
  content/built-in-examples/09.usb/KeyboardAndMouseControl/assets/schematic.png
Labels: fix/update, Tutorial, arduino, maker

#176 Update Portenta H7 bootloader sketches naming [PC-899]
  content/hardware/04.pro/boards/portenta-h7/tutorials/over-the-air-update/content.md
  content/hardware/04.pro/boards/portenta-h7/tutorials/por-openmv-gs/content.md
  content/hardware/04.pro/boards/portenta-h7/tutorials/updating-the-bootloader/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/vs-openmv-bt/content.md
Labels: fix/update, arduino, pro

#171 Portenta X8: Add shop url
  content/hardware/04.pro/boards/portenta-x8/product.md
Labels: Product page, fix/update, arduino, pro

#172 Fix spelling error
  content/built-in-examples/09.usb/KeyboardAndMouseControl/KeyboardAndMouseControl.md
Labels: fix/update, Tutorial, community, maker

#181 Portenta H7 Datasaheet: Fix typo.
  content/hardware/04.pro/boards/portenta-h7/datasheets/datasheet.md
Labels: Datasheet, fix/update, community, pro

#164 Some improvements to the IoT Cloud / Scheduler tutorial
  content/cloud/iot-cloud/tutorials/03.cloud-scheduler/cloud-scheduler.md
Labels: fix/update, Tutorial, arduino, maker

#180 Updated link to bootloader tutorial [MKC-442]
  content/software/ide-v1/tutorials/arduino-ide-v1-basics/arduino-ide-v1-basics.md
Labels: bug, arduino

#185 Fix typo
  content/hardware/05.nicla/boards/nicla-sense-me/tutorials/web-ble-dashboard/content.md
Labels: fix/update, Tutorial, community, pro

#183 Added end of life status to board
  content/hardware/02.hero/boards/yun-rev2/product.md
Labels: Product page, fix/update, arduino, maker

#184 Updated bootloader link
  content/software/ide-v1/tutorials/Environment/Environment.md
Labels: bug, documentation, arduino

#182 Datasheets: General maintenance [PC-898]
  content/hardware/03.nano/boards/nano-33-ble/datasheet/datasheet.md
  content/hardware/04.pro/boards/portenta-h7/datasheets/datasheet.md
  content/hardware/04.pro/carriers/portenta-breakout/datasheet/datasheet.md
  content/hardware/04.pro/carriers/portenta-machine-control/datasheet/datasheet.md
  content/hardware/04.pro/shields/portenta-cat-m1-nb-iot-gnss-shield/datasheet/datasheet.md
  content/hardware/05.nicla/boards/nicla-sense-me/datasheet/datasheet.md
  content/hardware/06.edu/carriers/braccio-carrier/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino

#159 Portenta X8: Getting Started update [PC-889]
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/IDE-boards.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/adb-connection.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/foundries-activation-device-page.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/foundries-activation-prompt.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/foundries-activation-success.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/foundries-activation-token.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/foundries-create-factory.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/foundries-factories.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/foundries-factory-dashboard.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/foundries-factory-devices.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-factory-name.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-factory-register.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-factory-success.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-main-factory.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-main-wifi.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-main.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-wifi-pass.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-wifi-ssid.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/x8-oob-wifi-sucess.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/content.md
Labels: fix/update, Tutorial, arduino, pro

#167 Portenta X8: Flashing tutorial[PC-892]
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/foundries-factories-target-runs.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/foundries-factories-targets-dashboard.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/foundries-factories-targets.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/foundries-factories.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/uuu-flashing-success.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/content.md
Labels: new, Tutorial, arduino, pro
