Repository arduino/docs-content, pull requests merged in 2022-10, with the labels that each got.

#569 Braccio-carrier: Datasheet - Fix possible MD issues [PC-991]
  content/hardware/06.edu/carriers/braccio-carrier/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino, education

#581 MKR Relay Shield: Fix dimensions [TC-365]
  content/hardware/01.mkr/02.shields/mkr-relay-proto-shield/tech-specs.yml
Labels: Product page, fix/update, arduino, maker

#354 Portenta X8 tutorial: custom image building[PC-920]
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/copy_files.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/docker_build.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/docker_volume_explorer.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/git_clone_lmp-manifest.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/git_config.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/portenta-x8_build.sh
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/repo_init.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/repo_sync.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/repo_sync_finished.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/tools_build.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/tools_distro_setup.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/tools_finished.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/x8_build.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/x8_build_finished.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/assets/x8_distro_setup.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-building/content.md
Labels: Tutorial, arduino, pro

#583 Nicla Form Factor article: Fix LPIO pins
  content/learn/06.hardware/nicla-form-factor/nicla-form-factor.md
Labels: documentation, fix/update, arduino, pro

#585 Nicla Vision Datasheet: Fix LPIO pins
  content/hardware/05.nicla/boards/nicla-vision/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino, pro

#584 Nicla Sense ME Datasheet: Fix LPIO pins
  content/hardware/05.nicla/boards/nicla-sense-me/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino, pro

#593 Nicla Family: Update Pinouts and Block Diagram [PC-997]
  content/hardware/05.nicla/boards/nicla-sense-me/downloads/ABX00050-full-pinout.pdf
  content/hardware/05.nicla/boards/nicla-sense-me/interactive/ABX00050-pinout.png
  content/hardware/05.nicla/boards/nicla-vision/datasheet/assets/niclaVisionBlockDiagram.svg
  content/hardware/05.nicla/boards/nicla-vision/downloads/ABX00051-full-pinout.pdf
  content/hardware/05.nicla/boards/nicla-vision/interactive/ABX00051-pinout.png
Labels: Product page, fix/update, arduino, pro

#582 Nicla Form Factor LED schematic update
  content/learn/06.hardware/nicla-form-factor/assets/reference_schematics_LED.svg
Labels: Tutorial, arduino, pro

#590 Nicla Boards LPIOs update [PC-997]
  content/hardware/05.nicla/boards/nicla-sense-me/datasheet/datasheet.md
  content/hardware/05.nicla/boards/nicla-sense-me/downloads/ABX00050-full-pinout.pdf
  content/hardware/05.nicla/boards/nicla-sense-me/interactive/ABX00050-pinout.png
  content/hardware/05.nicla/boards/nicla-vision/datasheet/assets/niclaVisionBlockDiagram.svg
  content/hardware/05.nicla/boards/nicla-vision/datasheet/datasheet.md
  content/hardware/05.nicla/boards/nicla-vision/downloads/ABX00051-full-pinout.pdf
  content/hardware/05.nicla/boards/nicla-vision/interactive/ABX00051-pinout.png
  content/learn/06.hardware/nicla-form-factor/assets/reference_schematics_LED.svg
  content/learn/06.hardware/nicla-form-factor/nicla-form-factor.md
Labels: documentation, Datasheet, fix/update, arduino, pro

#588 Updated links to hardware docs pages
  content/learn/06.hardware/nano-pcb-guide/nano-pcb-guide.md
Labels: fix/update, Tutorial, arduino, maker

#577 Portenta X8 Wordpress tutorial fix
  content/hardware/04.pro/boards/portenta-x8/tutorials/wordpress-webserver/content.md
Labels: fix/update, Tutorial, arduino, pro

#599 WisGate Edge PRO: Fix Symlinks
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-pro/tutorials/getting-started
Labels: fix/update, arduino

#603 Portenta X8 Image Flashing tutorial fixes
  .github/workflows/workflow-validate.yaml
  .vscode/tasks.json
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/breakout-dip-switches.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/foundries-factories-target-runs.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/foundries-factories-targets-dashboard.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/foundries-factories-targets.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/foundries-factories.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/lpm-manifest-overview.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/assets/max-carrier-dip-switches.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/content.md
  content/retired/06.getting-started-guides/ArduinoUnoWiFiChangeFw/ArduinoUnoWiFiChangeFw.md
  scripts/spell-check.cmd
Labels: fix/update, Tutorial, arduino, pro

#592 Corrects text up until Boards Memory Allocation
  content/learn/03.programming/06.memory-guide/memory-guide.md
Labels: fix/update, Tutorial, community

#578 Update arduino-cloud-cli.md
  content/arduino-cloud/01.getting-started/07.arduino-cloud-cli/arduino-cloud-cli.md
Labels: fix/update, arduino

#610 Fix Nicla Family step files
  content/hardware/06.nicla/boards/nicla-sense-me/datasheet/ABX00050-step.zip
  content/hardware/06.nicla/boards/nicla-vision/downloads/ABX00051-step.zip
Labels: Product page, fix/update, arduino, pro

#612 Fix typo
  content/learn/05.communication/01.wire/wire.md
Labels: fix/update, Tutorial, community

#482 Nicla Sense ME: Update sketch[PC-968]
  content/hardware/06.nicla/boards/nicla-sense-me/tutorials/web-ble-dashboard/content.md
Labels: fix/update, Tutorial, arduino, pro
