Repository arduino/docs-content, pull requests merged in 2022-08, with the labels that each got.

#418 Replace IDE 2.x configuration file content with link to source
  content/software/ide-v2/tutorials/ide-v2-customize-auto-formatter/content.md
Labels: enhancement, arduino

#325 fix multiple content linter warnings
  content/hardware/01.mkr/01.boards/mkr-1000-wifi/tutorials/wifi-101-library-examples/wifi-101-library-examples.md
  content/hardware/01.mkr/01.boards/mkr-1000-wifi/tutorials/wifi-101-ota/WiFi101OTA.md
  content/hardware/01.mkr/01.boards/mkr-nb-1500/tutorials/nb-scan-network/nb-scan-network.md
  content/hardware/01.mkr/01.boards/mkr-wan-1300/tutorials/lora-button-press/lora-button-press.md
  content/hardware/01.mkr/01.boards/mkr-wan-1300/tutorials/lora-message/lora-message.md
  content/hardware/01.mkr/01.boards/mkr-wan-1300/tutorials/lora-send-and-receive/lora-send-and-receive.md
  content/hardware/01.mkr/01.boards/mkr-wan-1300/tutorials/lora-sensor-data/lora-sensor-data.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/lora-button-press/lora-button-press.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/lora-message/lora-message.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/lora-send-and-receive/lora-send-and-receive.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/lora-sensor-data/lora-sensor-data.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/lorawan-regional-parameters/lorawan-regional-parameters.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/mkr-wan-library-examples/mkr-wan-library-examples.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/wan-and-gps/wan-and-gps.md
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/tutorials/securely-connecting-an-arduino-mkr-wifi-1010-to-aws-iot-core/securely-connecting-an-arduino-mkr-wifi-1010-to-aws-iot-core.md
  content/hardware/01.mkr/02.shields/mkr-485-shield/tutorials/mkr-485-communication/mkr-485-communication.md
  content/hardware/01.mkr/02.shields/mkr-can-shield/tutorials/mkr-can-communication/mkr-can-communication.md
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/tutorials/mkr-iot-carrier-01-technical-reference/mkr-iot-carrier-01-technical-reference.md
  content/hardware/02.hero/boards/uno-rev3/tutorials/intro-to-board/intro-to-board.md
  content/hardware/02.hero/boards/yun-rev2/tutorials/file-write-script/content.md
  content/hardware/02.hero/boards/yun-rev2/tutorials/http-client-console/content.md
  content/hardware/02.hero/boards/yun-rev2/tutorials/remote-due-blink/content.md
  content/hardware/02.hero/boards/yun-rev2/tutorials/shell-commands/content.md
  content/hardware/02.hero/boards/yun-rev2/tutorials/time-check/content.md
  content/hardware/02.hero/boards/yun-rev2/tutorials/wifi-status/content.md
  content/hardware/02.hero/boards/yun-rev2/tutorials/yun-first-config/content.md
  content/hardware/03.nano/boards/nano-33-ble-sense/tutorials/get-started-with-machine-learning/get-started-with-machine-learning.md
  content/hardware/03.nano/boards/nano-33-ble-sense/tutorials/microphone-sensor/microphone_sensor.md
  content/hardware/03.nano/carriers/nano-motor-carrier/tutorials/nano-simulink-wifi-led/nanoSimulinkWiFiLED.md
  content/hardware/04.pro/boards/portenta-h7/tutorials/flash-optimized-key-value-store/content.md
  content/hardware/04.pro/boards/portenta-h7/tutorials/openmv-cheat-sheet/openmv-cheat-sheet.md
  content/hardware/04.pro/boards/portenta-h7/tutorials/over-the-air-update/content.md
  content/hardware/04.pro/boards/portenta-h7/tutorials/wifi-access-point/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/display-output-webgl/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/content.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/catm1-and-nbiot/content.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/connecting-to-ttn/content.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/getting-started/content.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/x8-getting-started/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/datasheet/datasheet.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/connecting-to-ttn/content.md
  content/hardware/05.nicla/boards/nicla-sense-me/tutorials/use-as-mkr-shield/use-as-mkr-shield.md
  content/hardware/05.nicla/boards/nicla-vision/tutorials/proximity/content.md
  content/learn/05.communication/05.lorawan-101/lorawan-101.md
  content/retired/06.getting-started-guides/ArduinoWiFiShield101/ArduinoWiFiShield101.md
  content/tutorials/generic/WiFi101ThingSpeakDataUploader/WiFi101ThingSpeakDataUploader.md
  content/tutorials/generic/Wifi101GoogleCalendar/Wifi101GoogleCalendar.md
  content/tutorials/generic/firmware-updater/firmware-updater.md
  scripts/validation/rules/rules-spelling.yml
Labels: fix/update, community

#437 Nano BLE Sense Datasheet: Fix font size issue
  content/hardware/03.nano/boards/nano-33-ble-sense/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino

#424 Paul schulz/the things network
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/the-things-network/the-things-network.md
Labels: fix/update, Tutorial, community, maker

#449 UNO WiFi Rev2 schematics fix
  content/hardware/02.hero/boards/uno-wifi-rev2/downloads/schematics.pdf
Labels: Product page, fix/update, arduino

#309 Portenta Vision shield, capture to bitmap SD Card tutorial [PC-926]
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/camera-to-bitmap-sd-card/assets/output-view.png
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/camera-to-bitmap-sd-card/assets/vs_ard_gs_attach_boards.svg
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/camera-to-bitmap-sd-card/content.md
Labels: new, Tutorial, arduino, pro

#451 Learn, Getting Started: fix typos [PC-916]
  content/learn/01.starting-guide/00.getting-started-arduino/getting-started-arduino.md
Labels: fix/update, Tutorial, arduino

#453 Vision Shield Camera to bitmap SD, fix sketch
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/camera-to-bitmap-sd-card/content.md
Labels: fix/update, Tutorial, arduino, pro

#454 Portenta X8: Foundries.io review
  content/hardware/04.pro/boards/portenta-x8/tutorials/custom-container/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/display-output-webgl/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/x8-fundamentals/portenta-x8-fundamentals.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/x8-getting-started/content.md
Labels: fix/update, Tutorial, pro

#463 Simplify
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/tutorials/mkr-battery-app-note/mkr-battery-app-note.md
Labels: community

#461 Unnecessary comma after hyphen
  content/software/ide-v2/tutorials/getting-started/02.ide-v2-uploading-a-sketch/ide-v2-uploading-a-sketch.md
Labels: community

#460 Capitalization and ITS
  content/software/ide-v2/tutorials/getting-started/01.ide-v2-downloading-and-installing/ide-v2-downloading-and-installing.md
Labels: bug, community

#304 Nicla vision image classification tutorial update
  content/hardware/05.nicla/boards/nicla-vision/tutorials/getting-started/content.md
  content/hardware/05.nicla/boards/nicla-vision/tutorials/image-classification/content.md
Labels: fix/update, arduino, pro

#465 Nicla Sense ME, web BLE dashboard sketch update [PC-968]
  content/hardware/05.nicla/boards/nicla-sense-me/tutorials/web-ble-dashboard/content.md
Labels: fix/update, Tutorial, arduino, pro

#466 Portenta-H7 datasheet: Add SE050C2 specs #312 [PC-321]
  content/hardware/04.pro/boards/portenta-h7/datasheets/datasheet.md
Labels: Datasheet, fix/update, arduino, pro

#468 Cat M1 Shield: Fix spacings
  content/hardware/04.pro/shields/portenta-cat-m1-nb-iot-gnss-shield/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino, pro

#469 Portenta CatM1 Shield: Fix getting started typos
  content/hardware/04.pro/shields/portenta-cat-m1-nb-iot-gnss-shield/tutorials/getting-started/getting-started.md
Labels: fix/update, Tutorial, arduino, pro

#475 Nicla Sense ME: Fix Cheat-sheet typos
  content/hardware/05.nicla/boards/nicla-sense-me/tutorials/cheat-sheet/cheat-sheet.md
Labels: fix/update, Tutorial, arduino, pro

#472 Portenta H7 datasheet: fix cell span [TC-321] #312
  content/hardware/04.pro/boards/portenta-h7/datasheets/datasheet.md
Labels: Datasheet, fix/update, arduino, pro

#492 Update content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/getting-started-camera/content.md
Labels: fix/update, Tutorial, arduino, pro

#484 Update content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/custom-machine-learning-model/content.md
Labels: fix/update, Tutorial, arduino, pro

#489 Portenta Vision Shield: Bitmap to SD Card tutorial sketch update[PC-969]
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/camera-to-bitmap-sd-card/content.md
Labels: fix/update, Tutorial, arduino, pro

#206 Portenta Breakout datasheet: Add ethernet jumper pads info
  content/hardware/04.pro/carriers/portenta-breakout/datasheet/assets/breakoutCarrierEthernetSolderJumpers.svg
  content/hardware/04.pro/carriers/portenta-breakout/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino, pro

#516 MKRIoTCarrier tech reference: Fix RGB from #134
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/tutorials/mkr-iot-carrier-01-technical-reference/mkr-iot-carrier-01-technical-reference.md
Labels: fix/update, Tutorial, arduino, maker

#519 [MKC-663] Update IMU on MKR IoT Carrier
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/datasheet.md
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/tech-specs.yml
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/tutorials/mkr-iot-carrier-01-technical-reference/mkr-iot-carrier-01-technical-reference.md
Labels: Datasheet, fix/update, Tutorial, arduino, maker

#192 Fixed formatting error on LCD displays article
  content/learn/04.electronics/03.lcd-displays/lcd-displays.md
Labels: bug, documentation, Tutorial, community
