Repository arduino/docs-content, pull requests merged in 2022-09, with the labels that each got.

#442 added tutorial [MKC-593]
  content/hacking/01.software/PortManipulation/content.md
Labels: arduino

#501 Scripts: Spell-check for windows
  .vscode/tasks.json
  scripts/spell-check.cmd
Labels: fix/update, arduino

#530 x-ctu is now available for macOS and linux.
  content/retired/06.getting-started-guides/ArduinoWirelessShieldS2/ArduinoWirelessShieldS2.md
Labels: fix/update, Tutorial, community

#537 Datasheets rendering fix: Braccio-carrier datasheet fix
  content/hardware/06.edu/carriers/braccio-carrier/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino

#524 Nicla Vision Proximity tutorial fixes
  content/hardware/05.nicla/boards/nicla-vision/tutorials/proximity/content.md
Labels: fix/update, Tutorial, arduino, pro

#523 Nicla Vision IMU tutorial fixes
  content/hardware/05.nicla/boards/nicla-vision/tutorials/nicla-vision-imu/content.md
Labels: fix/update, Tutorial, arduino, pro

#522 Nicla Vision Microphone tutorial fixes
  content/hardware/05.nicla/boards/nicla-vision/tutorials/microphone-sensor/content.md
Labels: fix/update, Tutorial, arduino, pro

#520 Nicla Vision Getting Started fixes
  content/hardware/05.nicla/boards/nicla-vision/tutorials/getting-started/content.md
Labels: fix/update, Tutorial, arduino, pro

#538 Nicla Vision Tutorials fixes
  content/hardware/05.nicla/boards/nicla-vision/tutorials/getting-started/content.md
  content/hardware/05.nicla/boards/nicla-vision/tutorials/microphone-sensor/content.md
  content/hardware/05.nicla/boards/nicla-vision/tutorials/nicla-vision-imu/content.md
  content/hardware/05.nicla/boards/nicla-vision/tutorials/proximity/content.md
Labels: fix/update, Tutorial, arduino, pro

#518 Pro tutorials: Linter miss spellings fix
  content/hardware/04.pro/boards/portenta-h7/tutorials/over-the-air-update/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/multi-protocol-gateway/content.md
Labels: fix/update, Tutorial, arduino, pro

#545 Use preferred Arduino IDE 2.x Auto Format menu path
  content/software/ide-v2/tutorials/ide-v2-customize-auto-formatter/content.md
Labels: enhancement, arduino

#546 Remove obsolete fragment identifier from Arduino IDE 2.x download links
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/tutorials/atmel-ice/using-an-atmel-ice-with-the-ide-v2.md
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/tutorials/mkr-jlink-setup/mkr-jlink.md
  content/hardware/03.nano/boards/nano-rp2040-connect/tutorials/rp2040-upgrading-nina-firmware/rp2040-upgrading-nina-firmware.md
  content/software/ide-v2/tutorials/01.getting-started-ide-v2/ide-v2-autocomplete-feature.md
  content/software/ide-v2/tutorials/getting-started/01.ide-v2-downloading-and-installing/ide-v2-downloading-and-installing.md
  content/software/ide-v2/tutorials/getting-started/02.ide-v2-uploading-a-sketch/ide-v2-uploading-a-sketch.md
  content/software/ide-v2/tutorials/ide-v2-autocomplete-feature/ide-v2-autocomplete-feature.md
  content/software/ide-v2/tutorials/ide-v2-board-manager/ide-v2-board-manager.md
  content/software/ide-v2/tutorials/ide-v2-cloud-sketch-sync/ide-v2-cloud-sketch-sync.md
  content/software/ide-v2/tutorials/ide-v2-customize-auto-formatter/content.md
  content/software/ide-v2/tutorials/ide-v2-debugger/ide-v2-debugger.md
  content/software/ide-v2/tutorials/ide-v2-fw-cert-uploader/ide-v2-fw-cert-uploader.md
  content/software/ide-v2/tutorials/ide-v2-installing-a-library/ide-v2-installing-a-library.md
  content/software/ide-v2/tutorials/ide-v2-serial-monitor/ide-v2-serial-monitor.md
  content/software/ide-v2/tutorials/ide-v2-serial-plotter/ide-v2-serial-plotter.md
Labels: enhancement, arduino

#531 Portenta X8 Out of the box tutorial fixes
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/content.md
Labels: fix/update, Tutorial, arduino, pro

#550 [TC-362] Migrate MKR WiFi 1010 DS to MD
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/datasheet/assets/featured.png
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/datasheet/assets/mkrwifi1010_powertree.png
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/datasheet/assets/mkrwifif1010_connectorPositions.png
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/datasheet/assets/mkrwifif1010_mountingHoles.png
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/datasheet/assets/mkrwifif1010_outline.png
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/datasheet/datasheet.md
Labels: documentation, Datasheet, maker
