Repository arduino/docs-content, pull requests merged in 2022-05, with the labels that each got.

#168 [TC-277] Add Block Diagram to Portenta Machine Control DS
  content/hardware/04.pro/carriers/portenta-machine-control/datasheet/assets/MachineControlBlockDiagram.svg
  content/hardware/04.pro/carriers/portenta-machine-control/datasheet/datasheet.md
Labels: Datasheet, fix/update

#191 Fix typo
  content/learn/04.electronics/06.power-tree/power-tree-style-guide.md
Labels: documentation, fix/update, community

#197 Portenta X8 datasheet: update pinout
  content/hardware/04.pro/boards/portenta-x8/datasheet/assets/x8HDCPinout.jpg
  content/hardware/04.pro/boards/portenta-x8/datasheet/assets/x8HDCPinout.png
  content/hardware/04.pro/boards/portenta-x8/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino, pro

#195 Update getting-started.md
  content/hardware/05.nicla/boards/nicla-sense-me/tutorials/getting-started/getting-started.md
Labels: fix/update, Tutorial, community, pro

#129 Portenta H7 tutorial: Secure Boot [PC-894]
  content/hardware/04.pro/boards/portenta-h7-lite-connected/tutorials/secureboot
  content/hardware/04.pro/boards/portenta-h7-lite/tutorials/secureboot
  content/hardware/04.pro/boards/portenta-h7/tutorials/secure-boot/secure-boot.md
Labels: new, Tutorial, arduino, pro

#202 use-as-mkr-shield: Fix typo
  content/hardware/05.nicla/boards/nicla-sense-me/tutorials/use-as-mkr-shield/use-as-mkr-shield.md
Labels: fix/update, Tutorial, community, maker

#135 [TC-267] Remove PT1000 in from Portenta Machine Control DS and Tech Specs
  content/hardware/04.pro/carriers/portenta-machine-control/datasheet/datasheet.md
Labels: Datasheet, Product page, arduino

#198 Update Blob detection tutorial for new OMV release [PC-884]
  content/hardware/05.nicla/boards/nicla-vision/tutorials/blob-detection/content.md
Labels: documentation, Tutorial, arduino, maker

#207 Portenta X8: Upload sketch to the M4 [PC-803]
  content/hardware/04.pro/boards/portenta-x8/tutorials/uploading-sketches-m4/assets/x8-board-manager.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/uploading-sketches-m4/assets/x8-terminal-ADB-push.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/uploading-sketches-m4/content.md
Labels: new, Tutorial, arduino, pro

#213 Nicla Vision full pinout update
  content/hardware/05.nicla/boards/nicla-vision/downloads/ABX00051-full-pinout.pdf
Labels: Product page, fix/update, arduino, pro

#214 Nicla Vision pinout update
  content/hardware/05.nicla/boards/nicla-vision/interactive/ABX00051-pinout.png
Labels: Product page, fix/update, arduino, pro

#211 Removed legacy information from contribution page
  CONTRIBUTING.md
Labels: fix/update, arduino, infrastructure

#225 Max carrier: add compatibilities on X8 and H7s
  content/hardware/04.pro/boards/portenta-h7-lite-connected/compatibility.yml
  content/hardware/04.pro/boards/portenta-h7-lite/compatibility.yml
  content/hardware/04.pro/boards/portenta-h7/compatibility.yml
  content/hardware/04.pro/boards/portenta-x8/compatibility.yml
Labels: Product page, fix/update, arduino, pro

#224 typo fixed in nicla vision tutorial
  content/hardware/05.nicla/boards/nicla-vision/tutorials/image-classification/content.md
Labels: fix/update, Tutorial, arduino, pro

#227 update secureboot tutorial
  content/hardware/04.pro/boards/portenta-h7/tutorials/secure-boot/secure-boot.md
Labels: fix/update, Tutorial, arduino, pro

#239 Fix broken links in "Managing Containers with Docker on Portenta X8" tutorial
  content/hardware/04.pro/boards/portenta-x8/tutorials/docker-container/content.md
Labels: bug, Tutorial, arduino, pro, Type: Bug

#241 Portenta X8: Arduino Pro plan clarification
  content/hardware/04.pro/boards/portenta-x8/tutorials/custom-container/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/content.md
Labels: fix/update, Tutorial, arduino, pro

#242 Portenta X8: Flashing, getting the image from the GitHub repo
  content/hardware/04.pro/boards/portenta-x8/tutorials/image-flashing/content.md
Labels: fix/update, Tutorial, arduino, pro

#247 Bump package.json dependecy version
  package.json
Labels: arduino, infrastructure

#156 Add MkrIoTCarrier datasheet
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/assets/Pinout.png
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/assets/Power_Tree_MKR_IoT_Carrier.png
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/assets/bottom_view.png
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/assets/featured.jpg
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/assets/front_view.png
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/assets/mechanical.png
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/assets/solution_overview.png
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/datasheet/datasheet.md
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/product.md
Labels: Datasheet, fix/update, arduino, maker

#199 Nano 33 BLE datasheet: Changed SJ4 and SJ3 descrptions with eachother
  content/hardware/03.nano/boards/nano-33-ble/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino

#250 Fix LEDs rotation issue#226
  content/built-in-examples/04.communication/ReadASCIIString/assets/schematic.png
Labels: fix/update, Tutorial, arduino

#253 Update getting-started-arduino.md
  content/learn/01.starting-guide/00.getting-started-arduino/getting-started-arduino.md
Labels: fix/update, community

#255 Adding path to Arduino Create Agent
  content/cloud/web-editor/tutorials/getting-started/getting-started-web-editor/getting-started-web-editor.md
Labels: documentation, Tutorial, arduino, maker

#252 Portenta Vision Shield: Getting Started, fix arduino code [PC-910]
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/vs-ard-gs/content.md
Labels: fix/update, Tutorial, community, arduino, pro

#246 Portenta X8: Video Output [PC-891]
  content/hardware/04.pro/boards/portenta-x8/tutorials/display-output-webgl/assets/portentaX8-home-screen.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/display-output-webgl/assets/portentaX8_hub_screen.svg
  content/hardware/04.pro/boards/portenta-x8/tutorials/display-output-webgl/assets/vim-edit-dockerCompose.png
  content/hardware/04.pro/boards/portenta-x8/tutorials/display-output-webgl/content.md
Labels: new, Tutorial, arduino, pro
