Repository arduino/docs-content, pull requests merged in 2022-12, with the labels that each got.

#704 Opta: Product Page Power Spec Update [PC-1052]
  content/hardware/05.pro-solutions/solutions-and-kits/opta/tech-specs.yml
Labels: Product page, fix/update, arduino, pro

#702 Remove outdated info re: Serial Monitor send trigger in IDE 2.x
  content/software/ide-v2/tutorials/ide-v2-serial-monitor/ide-v2-serial-monitor.md
Labels: fix/update, arduino

#722 PLC IDE fixes
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/compatibility.yml
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/tutorials/plc-ide-pin-mapping/content.md
  content/software/plc-ide/tutorials/getting-started-plc-ide/assets/plc-ide-executable.png
  content/software/plc-ide/tutorials/getting-started-plc-ide/assets/plc-ide-tools-executable.png
  content/software/plc-ide/tutorials/getting-started-plc-ide/assets/plc-ide-windows.png
  content/software/plc-ide/tutorials/getting-started-plc-ide/plc-ide-installation.md
  package-lock.json
  package.json
Labels: fix/update, arduino, infrastructure

#709 Update debugger tutorial for Arduino IDE >=2.0.3
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/tutorials/mkr-jlink-setup/mkr-jlink.md
  content/software/ide-v2/tutorials/ide-v2-debugger/ide-v2-debugger.md
Labels: bug, arduino

#681 Action: Datasheets render
  .github/workflows/render-datasheets.yaml
Labels: Datasheet, new, arduino, infrastructure

#617 Niclas tech-specs: Add PCB Thickness and align units format
  content/hardware/06.nicla/boards/nicla-sense-me/tech-specs.yml
  content/hardware/06.nicla/boards/nicla-vision/tech-specs.yml
Labels: Product page, fix/update, arduino, pro

#430 Portenta X8: Python-data-exchange tutorial clarification
  content/hardware/04.pro/boards/portenta-x8/tutorials/python-arduino-data-exchange/content.md
Labels: fix/update, Tutorial, arduino, pro

#734 Learn, ModBus: Fix MD Spacing
  content/learn/05.communication/07.modbus/modbus.md
Labels: fix/update, arduino, maker

#739 [TC-414] Add NTC info in Nicla Sense ME DS
  content/hardware/06.nicla/boards/nicla-sense-me/datasheet/assets/niclaSenseMEBattery.png
  content/hardware/06.nicla/boards/nicla-sense-me/datasheet/datasheet.md
Labels: Datasheet, fix/update

#743 Portenta Breakout Carrier: Fix pinouts
  content/hardware/04.pro/carriers/portenta-breakout/downloads/ASX00031-full-pinout.pdf
  content/hardware/04.pro/carriers/portenta-breakout/interactive/ASX00031-pinout.png
Labels: Product page, fix/update, arduino, pro

#745 Learn, ModBus article: Fix dissapearing bug [PC-1070]
  content/learn/05.communication/07.modbus/modbus.md
Labels: fix/update, Tutorial, arduino

#746 Portenta H7 - OTA Tutorial Content Fix
  content/hardware/04.pro/boards/portenta-h7/tutorials/over-the-air-update/content.md
Labels: documentation, fix/update, Tutorial, arduino, pro
