Repository arduino/docs-content, pull requests merged in 2022-07, with the labels that each got.

#324 Braccio fixes
  content/hardware/06.edu/carriers/braccio-carrier/datasheet/datasheet.md
  content/hardware/06.edu/carriers/braccio-carrier/tech-specs.md
  content/hardware/06.edu/carriers/braccio-carrier/tech-specs.yml
Labels: Datasheet, Product page, fix/update, arduino, education

#333 LoRa Gateways linter fix
  content/hardware/04.pro/miscellaneous/wisgate-edge-lite-2/tutorials/getting-started/content.md
  content/hardware/04.pro/miscellaneous/wisgate-edge-pro/tutorials/pole-mounting/content.md
Labels: Product page, fix/update, Tutorial, arduino, pro

#256 Portenta X8: Fix esssentials
  content/hardware/04.pro/boards/portenta-x8/essentials.md
Labels: Product page, fix/update, arduino, pro

#338 Portenta X8 GS: Update cloud home screenshot
  content/hardware/04.pro/boards/portenta-x8/tutorials/out-of-the-box/assets/cloud-main.png
Labels: fix/update, Tutorial, arduino, pro

#343 PRO Gateways GS:Update dashboard screenshots
  content/hardware/04.pro/miscellaneous/wisgate-edge-lite-2/tutorials/getting-started/assets/wisgate-basic-setup.png
  content/hardware/04.pro/miscellaneous/wisgate-edge-lite-2/tutorials/getting-started/assets/wisgate-dashboard-configuration.png
  content/hardware/04.pro/miscellaneous/wisgate-edge-lite-2/tutorials/getting-started/assets/wisgate-dashboard-overview.png
  content/hardware/04.pro/miscellaneous/wisgate-edge-lite-2/tutorials/getting-started/assets/wisgate-dashboard-setPassword.png
Labels: Tutorial, arduino, pro

#336 LoRa Gateways: PP Change features icons
  content/hardware/04.pro/miscellaneous/wisgate-edge-lite-2/features.md
  content/hardware/04.pro/miscellaneous/wisgate-edge-pro/features.md
Labels: Product page, fix/update, arduino, pro

#349 Redirects, fix tutorials folders' typos
  content/hardware/03.nano/boards/nano-33-iot/tutorials/bluetooth/assets/nano33IOT_03_application.png
  content/hardware/03.nano/boards/nano-33-iot/tutorials/bluetooth/assets/nano33IOT_03_board_port.png
  content/hardware/03.nano/boards/nano-33-iot/tutorials/bluetooth/assets/nano33IOT_03_library.png
  content/hardware/03.nano/boards/nano-33-iot/tutorials/bluetooth/assets/nano33IOT_03_printing_values.png
  content/hardware/03.nano/boards/nano-33-iot/tutorials/bluetooth/content.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/catm1-and-nbiot/assets/Connect-H7-to-Max-carrier.svg
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/catm1-and-nbiot/assets/Sim-card-and-antenna-on-Max-carrier.svg
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/catm1-and-nbiot/assets/result-serial-monitor.png
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/catm1-and-nbiot/assets/set-radio-technology-sm.png
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/catm1-and-nbiot/content.md
Labels: fix/update, arduino

#351 WisGate Gateways: Add wisGate OS image link
  content/hardware/04.pro/miscellaneous/wisgate-edge-lite-2/essentials.md
  content/hardware/04.pro/miscellaneous/wisgate-edge-pro/essentials.md
Labels: Product page, fix/update, arduino, pro

#353 Portenta H7 BLE tutorial fix
  content/hardware/04.pro/boards/portenta-h7/tutorials/ble-connectivity/content.md
Labels: fix/update, Tutorial, arduino, pro

#371 Update link to Library Manager submission instructions
  content/learn/01.starting-guide/04.software-libraries/libraries.md
  content/software/ide-v1/tutorials/installing-libraries/installing-libraries.md
Labels: fix/update, arduino

#348 Add details on back to normal mode
  content/learn/03.programming/05.arduino-and-python/arduino-and-python.md
Labels: fix/update, Tutorial

#377 Correct variable name reference in "Writing a Library for Arduino"
  content/learn/08.contributions/03.arduino-creating-library-guide/arduino-creating-library-guide.md
Labels: bug, arduino

#317 [MKC-496]Benjamindannegard/ide 2.0 auto formatter tutorial
  content/software/ide-v2/tutorials/ide-v2-customize-auto-formatter/assets/format-file-at-root.png
  content/software/ide-v2/tutorials/ide-v2-customize-auto-formatter/content.md
Labels: documentation

#398 Replace inappropriately version-specific description of Arduino IDE 1.x
  content/software/ide-v2/tutorials/getting-started/01.ide-v2-downloading-and-installing/ide-v2-downloading-and-installing.md
Labels: bug, arduino

#399 Correct typo in IDE 2.x upload process introduction
  content/software/ide-v2/tutorials/getting-started/02.ide-v2-uploading-a-sketch/ide-v2-uploading-a-sketch.md
Labels: bug, arduino

#401 Use correct terminology for Arduino IDE toolbar
  content/software/ide-v2/tutorials/getting-started/02.ide-v2-uploading-a-sketch/ide-v2-uploading-a-sketch.md
Labels: bug, arduino

#415 [TC-337] Add Nicla Sense ME battery connector model
  content/hardware/05.nicla/boards/nicla-sense-me/datasheet/datasheet.md
Labels: fix/update

#297 added download instructions to yun [MKC-497]
  content/hardware/02.hero/boards/yun-rev2/tutorials/01.yun-download-os/content.md
Labels: enhancement, Tutorial, arduino, maker

#400 Move IDE 2.x Activity Bar debug button screenshot to appropriate location
  content/software/ide-v2/tutorials/ide-v2-debugger/ide-v2-debugger.md
Labels: enhancement, arduino
