Repository arduino/docs-content, pull requests merged in 2023-03, with the labels that each got.

#878 Opta: General Post-Update
  content/hardware/05.pro-solutions/solutions-and-kits/opta/features.md
  content/hardware/05.pro-solutions/solutions-and-kits/opta/tech-specs.yml
  content/hardware/05.pro-solutions/solutions-and-kits/opta/tutorials/getting-started-with-modbus-rtu/content.md
Labels: Product page, Tutorial, arduino, pro

#841 [PC-1116] Adding some information to the Portenta H7 over-the-air tutorial
  content/hardware/04.pro/boards/portenta-h7/tutorials/over-the-air-update/content.md
Labels: fix/update

#890 [AE-13][MKC-853] Change ALL instances of 05.nicla to 0.6.nicla
  content/hardware/06.nicla/boards/nicla-sense-me/tutorials/cheat-sheet/cheat-sheet.md
  content/hardware/06.nicla/boards/nicla-sense-me/tutorials/cli-tool/content.md
  content/hardware/06.nicla/boards/nicla-sense-me/tutorials/connecting-to-iot-cloud/content.md
  content/hardware/06.nicla/boards/nicla-sense-me/tutorials/getting-started/getting-started.md
  content/hardware/06.nicla/boards/nicla-sense-me/tutorials/use-as-mkr-shield/use-as-mkr-shield.md
  content/hardware/06.nicla/boards/nicla-sense-me/tutorials/web-ble-dashboard/content.md
  content/hardware/06.nicla/boards/nicla-vision/tutorials/microphone-sensor/content.md
  content/hardware/06.nicla/boards/nicla-vision/tutorials/nicla-vision-imu/content.md
  content/hardware/06.nicla/boards/nicla-vision/tutorials/proximity/content.md
Labels: fix/update

#912 [PC-1088] Portenta C33 (Post-launch review)
  content/hardware/04.pro/boards/portenta-c33/datasheets/datasheet.md
  content/hardware/04.pro/boards/portenta-c33/essentials.md
  content/hardware/04.pro/boards/portenta-c33/features.md
Labels: Product page, pro

#902 Portenta X8: Global Post Update
  content/hardware/04.pro/boards/portenta-x8/tutorials/01.user-manual/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/04.python-arduino-data-exchange/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/05.docker-container/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/06.waves-fleet-managment/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/07.custom-container/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/09.image-flashing/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/10.datalogging-iot/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/12.multi-protocol-gateway/content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/13.wordpress-webserver/content.md
Labels: enhancement, Datasheet, Tutorial, arduino, pro

#915 Portenta X8: Managing Containers with Docker on Portenta X8 Patch
  content/hardware/04.pro/boards/portenta-x8/tutorials/05.docker-container/content.md
Labels: fix/update, arduino, pro

#957 typo
  content/hardware/03.nano/boards/nano-33-ble-sense/tutorials/gesture-sensor/content.md
Labels: fix/update, community
