Repository arduino/docs-content, pull requests merged in 2023-08, with the labels that each got.

#1246 Document special upload procedure in UNO R4 WiFi HID tutorial
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/usb-hid/usb-hid.md
Labels: bug, arduino

#1188 Correct `arduino-iot-cloud` package name in installation command
  content/arduino-cloud/01.getting-started/10.manual-device/manual-devices.md
Labels: bug, arduino

#1250 [PC-1383] PLC IDE: Cloud Integration tutorial post update
  content/software/plc-ide/tutorials/plc-ide-cloud-support/assets/plc-ide-iot-cloud-img_01.png
  content/software/plc-ide/tutorials/plc-ide-cloud-support/assets/plc-ide-iot-cloud-img_02.png
  content/software/plc-ide/tutorials/plc-ide-cloud-support/content.md
Labels: documentation, Tutorial, arduino, pro

#1262 [AE-139] Correct I2C & SPI labelling in MKR Shield `tech-specs.yml` files
  content/hardware/01.mkr/02.shields/mkr-485-shield/tech-specs.yml
  content/hardware/01.mkr/02.shields/mkr-can-shield/tech-specs.yml
  content/hardware/01.mkr/02.shields/mkr-env-shield/tech-specs.yml
  content/hardware/01.mkr/02.shields/mkr-eth-shield/tech-specs.yml
  content/hardware/01.mkr/02.shields/mkr-gps-shield/tech-specs.yml
  content/hardware/01.mkr/02.shields/mkr-mem-shield/tech-specs.yml
  content/hardware/01.mkr/02.shields/mkr-rgb-shield/tech-specs.yml
  content/hardware/01.mkr/02.shields/mkr-sd-proto-shield/tech-specs.yml
  content/hardware/01.mkr/02.shields/mkr-therm-shield/tech-specs.yml
Labels: documentation, arduino
