Repository arduino/docs-content, pull requests merged in 2023-12, with the labels that each got.

#1546 [MKC-1339] Environmental data in the Arduino Cloud - Update
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG02.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG03.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG04.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG05.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG06.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG07.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG08.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG09.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG10.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/MKRENV_T1_IMG01.5.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/associate_device.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/dashboard-add.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/dashboard.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/dashboard_edit_blank.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/device_overview.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/device_setup_1.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/device_setup_2.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/device_setup_3.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/device_setup_4.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/new_dashboard.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/serial.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/sketch.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/thing.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/widgets.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/cloud-environmental-data.md
Labels: documentation, Tutorial, arduino, maker

#1551 Cloud Environmental Data Asset update
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/IoT_ENV_IMG01.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/assets/envShield.png
  content/arduino-cloud/11.application-notes/cloud-environmental-data/cloud-environmental-data.md
Labels: documentation, fix/update, arduino, maker

#1562 Modbus Code Snippet Fix
  content/learn/05.communication/07.modbus/modbus.md
Labels: documentation, fix/update, arduino, pro, maker

#1566 [MKC-1362] Servo Example Fix
  content/learn/04.electronics/05.servo-motors/assets/servo_circuit_knob.png
Labels: documentation, fix/update, arduino, maker

#1489 [MKC-1263] Update digital-analog-pins.md
  content/micropython/01.basics/05.digital-analog-pins/digital-analog-pins.md
  content/micropython/01.basics/06.board-examples/board-examples.md
Labels: documentation, enhancement, arduino, maker

#1543 [PC-1451] Max Carrier LoRaWAN tutorial update
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/connecting-to-ttn/content.md
Labels: fix/update, arduino, pro

#1596 [MKC-1351] OPAMP Docs
  content/hardware/02.hero/boards/uno-r4-minima/tutorials/opamp/assets/amp_screenshot.png
  content/hardware/02.hero/boards/uno-r4-minima/tutorials/opamp/assets/calc.png
  content/hardware/02.hero/boards/uno-r4-minima/tutorials/opamp/assets/circuitAmplifierMinima.png
  content/hardware/02.hero/boards/uno-r4-minima/tutorials/opamp/assets/circuitFollowerMinima.png
  content/hardware/02.hero/boards/uno-r4-minima/tutorials/opamp/assets/numCalc.png
  content/hardware/02.hero/boards/uno-r4-minima/tutorials/opamp/opamp.md
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/opamp/assets/amp_screenshot.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/opamp/assets/calc.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/opamp/assets/circuitAmplifierWiFi.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/opamp/assets/circuitFollowerWiFi.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/opamp/assets/numCalc.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/opamp/opamp.md
Labels: documentation, Tutorial, arduino, maker

#1614 Update Cloud API key creation instructions for new site design
  content/arduino-cloud/01.guides/07.node-red/nodered-intro.md
  content/arduino-cloud/07.api/01.api-overview/api-overview.md
  content/arduino-cloud/07.api/02.arduino-iot-api/arduino-iot-api.md
  content/arduino-cloud/08.arduino-cloud-cli/07.getting-started/arduino-cloud-cli.md
Labels: bug, arduino

#1634 Updating Arduino and third-party trademarks
  content/hardware/06.nicla/boards/nicla-vision/tutorials/user-manual/content.md
Labels: documentation, arduino, pro

#1630 Update content.md fix typo in library name
  content/software/plc-ide/tutorials/plc-ide-cloud-support/content.md
Labels: fix/update, community, pro

#1639 Updates to the name of Portenta Vision Shield
  content/arduino-cloud/02.hardware/04.ethernet/ethernet.md
  content/hardware/04.pro/boards/portenta-c33/datasheets/datasheet.md
  content/hardware/04.pro/boards/portenta-h7/datasheets/datasheet.md
  content/hardware/04.pro/boards/portenta-h7/tutorials/over-the-air-update/content.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/connecting-to-ttn/content.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/getting-started/content.md
  content/hardware/04.pro/shields/portenta-cat-m1-nb-iot-gnss-shield/datasheet/datasheet.md
  content/hardware/04.pro/shields/portenta-vision-shield/datasheet/datasheet.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/camera-to-bitmap-sd-card/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/connecting-to-ttn/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/creating-basic-face-filter/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/custom-machine-learning-model/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/ethernet-with-ide/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/ethernet-with-openmv/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/getting-started-camera/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/things-network-openmv/content.md
  content/hardware/_unlisted/old-datasheets/portenta-h7-full/datasheet.md
  content/hardware/_unlisted/old-datasheets/portenta-h7-lite-connected/datasheet.md
  content/hardware/_unlisted/old-datasheets/portenta-h7-lite/datasheet.md
  content/learn/05.communication/05.lorawan-101/lorawan-101.md
  content/tutorials/generic/pro-edge-ai-ml-vision-speech-kit/pro-edge-ai-ml-vision-speech-kit.md
Labels: arduino
