Repository arduino/docs-content, pull requests merged in 2023-10, with the labels that each got.

#1379 [PC-1424] - Edge Control Datasheet Update
  content/hardware/05.pro-solutions/solutions-and-kits/edge-control/datasheets/rev1/assets/edgeControlTopology_80.png
Labels: Datasheet, fix/update, arduino

#1385 [PC-1423] Edge Control Enclosure Kit: Product Page Patch
  content/hardware/05.pro-solutions/solutions-and-kits/enclosure-kit/features.md
  content/hardware/05.pro-solutions/solutions-and-kits/enclosure-kit/tech-specs.yml
Labels: Product page, fix/update, arduino, pro

#1393 [MKC-1084] MicroPython Assets
  content/micropython-course/course/05.analog/assets/analog.gif
  content/micropython-course/course/05.analog/assets/pwm.gif
Labels: documentation, arduino

#1417 [MKC-1209] Multiple Serial Built-In Examples Fix
  content/built-in-examples/04.communication/MultiSerialMega/assets/schematic.png
Labels: documentation, fix/update, arduino, maker

#1401 [MNE-27, MKC-1233] ESP-NOW Tutorial
  content/hardware/03.nano/boards/nano-esp32/features.md
  content/hardware/03.nano/boards/nano-esp32/tutorials/esp-now/assets/action-frame.png
  content/hardware/03.nano/boards/nano-esp32/tutorials/esp-now/assets/esp-now-communication.png
  content/hardware/03.nano/boards/nano-esp32/tutorials/esp-now/assets/protocol-stack.png
  content/hardware/03.nano/boards/nano-esp32/tutorials/esp-now/esp-now.md
  content/hardware/03.nano/boards/nano-esp32/tutorials/esp-now/hero-banner.png
Labels: documentation, Tutorial, maker

#1433 Update 04.analog.md
  content/micropython-course/course/05.analog/04.analog.md
Labels: fix/update, community, maker

#1442 Portenta Hat Carrier: User Manual Content Patch
  content/hardware/04.pro/carriers/portenta-hat-carrier/tutorials/user-manual/content.md
Labels: documentation, Tutorial, arduino, pro

#1443 Portenta Hat Carrier: User Manual Fan Control Section Minor Typo Patch
  content/hardware/04.pro/carriers/portenta-hat-carrier/tutorials/user-manual/assets/hello_world_led.zip
  content/hardware/04.pro/carriers/portenta-hat-carrier/tutorials/user-manual/content.md
Labels: documentation, Tutorial, arduino, pro

#1434 [PC-1432] - Portenta C33 User Manual Update
  content/hardware/04.pro/boards/portenta-c33/tutorials/user-manual/content.md
Labels: documentation, fix/update, arduino, pro

#1423 Bug-fix: cd into mounted volume in docker container
  content/hardware/04.pro/boards/portenta-x8/tutorials/08.image-building/content.md
Labels: fix/update, community, pro

#1445 [MKC-1261] Update RTC examples
  content/hardware/02.hero/boards/uno-r4-minima/tutorials/rtc/rtc.md
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/rtc/rtc.md
Labels: fix/update, arduino, maker

#1431 [Nano RP2040 connect] fix pinout in technical reference
  content/hardware/03.nano/boards/nano-rp2040-connect/tutorials/rp2040-01-technical-reference/assets/pinout.png
Labels: community, maker

#1435 [PC-1431] - Portenta C33 Datasheet Update
  content/hardware/04.pro/boards/portenta-c33/datasheets/datasheet.md
Labels: documentation, fix/update, arduino, pro

#974 Stream class documentation is now added to the Arduino Style Guide for Creating Libraries
  content/learn/08.contributions/01.arduino-library-style-guide/arduino-library-style-guide.md
Labels: community, pro, maker
