Repository arduino/docs-content, pull requests merged in 2023-05, with the labels that each got.

#1029 [NANO-RP2040] Update Microphone Docs
  content/hardware/03.nano/boards/nano-rp2040-connect/essentials.md
  content/hardware/03.nano/boards/nano-rp2040-connect/features.md
  content/hardware/03.nano/boards/nano-rp2040-connect/tech-specs.yml
  content/hardware/03.nano/boards/nano-rp2040-connect/tutorials/rp2040-01-technical-reference/assets/MP34DT06JTR-NANORP2040CONNECT.png
  content/hardware/03.nano/boards/nano-rp2040-connect/tutorials/rp2040-01-technical-reference/rp2040-01-technical-reference.md
  content/hardware/03.nano/boards/nano-rp2040-connect/tutorials/rp2040-microphone-basics/rp2040-microphone-basics.md
  content/hardware/03.nano/boards/nano-rp2040-connect/tutorials/rp2040-python-api/rp2040-python-api.md
Labels: fix/update, arduino, maker

#1027 [IOTC] Update cloud APIs article
  content/arduino-cloud/01.getting-started/04.api-overview/api-overview.md
Labels: fix/update, arduino

#866 updated link for OPTA
  content/learn/05.communication/07.modbus/modbus.md
Labels: fix/update, arduino, pro

#970 [PC-1113] [PC-1148] PMC Updates & Fixes
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/datasheet/assets/MachineControlAnalogOutputScheme.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/datasheet/assets/MachineControlAnalogOutputScheme.svg
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/datasheet/assets/MachineControlOutline.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/datasheet/assets/MachineControlPCB.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/datasheet/assets/MachineControlRail.svg
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/datasheet/assets/featured.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/datasheet/datasheet.md
Labels: fix/update, arduino, pro

#1016 Dimensions numbers fix.
  content/hardware/05.pro-solutions/solutions-and-kits/enclosure-kit/tech-specs.yml
Labels: fix/update, community

#1046 [PC-1230] Update ESLOV information in Nicla Voice datasheet
  content/hardware/06.nicla/boards/nicla-voice/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino, pro

#1048 [PC-1251] WisGate Edge Pro: Naming Reference Patch
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-lite-2/features.md
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-lite-2/tutorials/getting-started/content.md
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-lite-2/tutorials/update-firmware/content.md
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-pro/features.md
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-pro/tech-specs.md
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-pro/tech-specs.yml
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-pro/tutorials/pole-mounting/content.md
Labels: Product page, fix/update, arduino, pro

#1041 Update tech-specs.yml
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-lite-2/tech-specs.yml
Labels: fix/update, arduino, pro

#1040 Update tech-specs.yml
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-pro/tech-specs.yml
Labels: fix/update, arduino, pro

#1049 [PC-1252] PLC IDE: Arduino PLC IDE Setup and Board's License Activation Tutorial Heading Patch
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/tutorials/plc-ide-setup-license/content.md
Labels: bug, Tutorial, arduino, pro

#1076 [PC-1270] Portenta Max Carrier: Getting Started Content Patch
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/getting-started/content.md
Labels: fix/update, Tutorial, arduino, pro
