Repository arduino/docs-content, pull requests merged in 2023-06, with the labels that each got.

#1081 Update spi.md
  content/learn/05.communication/02.spi/spi.md
Labels: fix/update, community

#1086 [PC-1269] - Portenta Breakout Getting Started Content Update
  content/hardware/04.pro/carriers/portenta-breakout/tutorials/getting-started/assets/breakout_gs_circuit_diagram.svg
  content/hardware/04.pro/carriers/portenta-breakout/tutorials/getting-started/content.md
Labels: Tutorial, arduino, pro

#1093 [PC-1288] PLC IDE: Library management section in PLC IDE prgramming introduction tutorial
  content/software/plc-ide/tutorials/plc-programming-introduction/assets/plcide-library-management.gif
  content/software/plc-ide/tutorials/plc-programming-introduction/content.md
Labels: fix/update, Tutorial, arduino, pro

#1090 Update content.md
  content/hardware/04.pro/boards/portenta-x8/tutorials/01.user-manual/content.md
Labels: enhancement, arduino
