Repository arduino/docs-content, pull requests merged in 2023-09, with the labels that each got.

#1313 [MKC-1157] Add compatible boards
  content/arduino-cloud/01.getting-started/02.technical-reference/iot-cloud-tech-ref.md
Labels: documentation, arduino

#1110 Update Wikipedia link for RC servos
  content/learn/04.electronics/05.servo-motors/servo-motors.md
Labels: community

#1218 [MKC-1037] Fixes in Nano tech specs
  content/hardware/03.nano/boards/nano-33-iot/tech-specs.yml
  content/hardware/03.nano/boards/nano-every/tech-specs.yml
  content/hardware/03.nano/boards/nano-rp2040-connect/tech-specs.yml
Labels: fix/update, arduino, maker

#1316 added old file of micro dimensions
  static/resources/dimensions/dimensioniMicro.dxf
Labels: fix/update, arduino, maker

#1318 [PC-967] Edge Control Compatibility Section Update
  content/hardware/05.pro-solutions/solutions-and-kits/edge-control/compatibility.yml
  content/hardware/05.pro-solutions/solutions-and-kits/edge-control/essentials.md
Labels: fix/update, arduino, pro

#1321 Update audio.md to resolve syntax errors
  content/learn/03.programming/10.audio/audio.md
Labels: fix/update, community, maker

#1347 [PC-1405] Opta: Extended Ethernet.begin() Method for Modbus TCP and PLC IDE Tutorial
  content/hardware/07.opta/opta-family/opta/tutorials/opta-modbus-tcp-plc-ide/content.md
Labels: fix/update, Tutorial, arduino, pro

#1359 [PC-1405] PLC IDE: Documentations QoL Updates
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/tutorials/rtd-thermocouple-pmc/content.md
  content/software/plc-ide/tutorials/modbus-setup/content.md
  content/software/plc-ide/tutorials/plc-ide-cloud-support/content.md
  content/software/plc-ide/tutorials/plc-ide-pin-mapping/content.md
  content/software/plc-ide/tutorials/plc-ide-setup-license/assets/IdeDownloadPage.png
  content/software/plc-ide/tutorials/plc-ide-setup-license/assets/IdeDownloadPage.svg
  content/software/plc-ide/tutorials/plc-ide-setup-license/content.md
  content/software/plc-ide/tutorials/plc-programming-introduction/content.md
Labels: documentation, Tutorial, arduino, pro
