Repository arduino/docs-content, pull requests merged in 2024-08, with the labels that each got.

#2093 [PC-1868] Portenta X8: Release Notes Naming Scheme Update
  content/hardware/04.pro/boards/portenta-x8/tutorials/14.x8-firmware-release-notes/x8-firmware-release-notes.md
Labels: documentation, fix/update, pro, preview

#2082 IoT Templates Article - Rework
  content/arduino-cloud/06.features/01.templates/assets/add-widget.png
  content/arduino-cloud/06.features/01.templates/assets/associated-thing.png
  content/arduino-cloud/06.features/01.templates/assets/edit-icon.png
  content/arduino-cloud/06.features/01.templates/assets/not-enough.png
  content/arduino-cloud/06.features/01.templates/assets/select-cloud-blink.png
  content/arduino-cloud/06.features/01.templates/assets/sidebar.png
  content/arduino-cloud/06.features/01.templates/assets/template-creation.png
  content/arduino-cloud/06.features/01.templates/assets/template-dashboard.png
  content/arduino-cloud/06.features/01.templates/assets/template-description.png
  content/arduino-cloud/06.features/01.templates/assets/template-gallery.png
  content/arduino-cloud/06.features/01.templates/assets/templatesexamples.jpg
  content/arduino-cloud/06.features/01.templates/assets/thing-information.png
  content/arduino-cloud/06.features/01.templates/assets/use-a-template.png
  content/arduino-cloud/06.features/01.templates/content.md
  content/arduino-cloud/10.education/02.templates/assets/import-button.png
  content/arduino-cloud/10.education/02.templates/assets/sidebar.png
  content/arduino-cloud/10.education/02.templates/assets/template-gallery.png
  content/arduino-cloud/10.education/02.templates/content.md
Labels: documentation, Tutorial, arduino, preview

#2098 11885 - Added note for 3.3V boards (ReadAnalogVoltage)
  content/built-in-examples/01.basics/ReadAnalogVoltage/ReadAnalogVoltage.md
Labels: fix/update, community, preview

#2101 1615 - Outdated graphic for Arduino Cloud API key management
  content/arduino-cloud/07.api/02.arduino-iot-api/assets/api-keys.png
  content/arduino-cloud/07.api/02.arduino-iot-api/assets/thing-id.png
Labels: fix/update, preview

#2120 [MKC-1766] Updated Arduino cloud editor secondary features tutorial
  content/software/web-editor/arduino-web-editor-secondary-features/arduino-web-editor-secondary-features.md
  content/software/web-editor/arduino-web-editor-secondary-features/assets/code_window_wGdNfZoeTp.PNG
  content/software/web-editor/arduino-web-editor-secondary-features/assets/editor-preferences.png
  content/software/web-editor/arduino-web-editor-secondary-features/assets/preferences_tab_LDdNfMWzyS.PNG
  content/software/web-editor/arduino-web-editor-secondary-features/assets/sketch-options.png
  content/software/web-editor/arduino-web-editor-secondary-features/assets/sketch-page-options.png
  content/software/web-editor/arduino-web-editor-secondary-features/assets/sketchbook_tab_zBkRKx4hY6.PNG
Labels: arduino, preview

#2116 [PC-1927] Opta Tech Specs Fix Missconception
  content/hardware/07.opta/opta-family/opta/features.md
  content/hardware/07.opta/opta-family/opta/tech-specs.yml
Labels: preview

#2129 add SRRC certification
  content/hardware/03.nano/boards/nano-esp32/datasheet/datasheet.md
  content/hardware/03.nano/boards/nano-esp32/tech-specs.yml
Labels: Datasheet, fix/update, certifications

#2122 [MKC-1349] CAN Bus Learn Article
  content/learn/05.communication/10.can/assets/differential_signal.gif
  content/learn/05.communication/10.can/assets/differential_signal.png
  content/learn/05.communication/10.can/assets/message.png
  content/learn/05.communication/10.can/can.md
Labels: documentation, new, arduino, how-to article, maker, preview

#2119 [MKC-1760] Updated "embedding create iframes"
  content/arduino-cloud/04.cloud-editor/embedding-create-iframes/assets/iframe-highlight.png
  content/arduino-cloud/04.cloud-editor/embedding-create-iframes/assets/iframe_highlight.png
  content/arduino-cloud/04.cloud-editor/embedding-create-iframes/embedding-create-iframes.md
Labels: arduino, preview

#2132 [MKC-1763] - Update "Arduino Web editor"
  content/learn/01.starting-guide/03.the-arduino-web-editor/arduino-web-editor.md
  content/learn/01.starting-guide/03.the-arduino-web-editor/assets/finding-an-example.png
  content/learn/01.starting-guide/03.the-arduino-web-editor/assets/web-editor.png
Labels: fix/update, preview

#2137 Test: fix md
  content/arduino-cloud/04.cloud-editor/embedding-create-iframes/embedding-create-iframes.md
Labels: arduino, preview

#2140 [MKC-1767] Update "iot air quality checker"
  content/tutorials/projects/iot-air-quality-checker/assets/DeviceSetup.png
  content/tutorials/projects/iot-air-quality-checker/assets/createDashboard.png
  content/tutorials/projects/iot-air-quality-checker/assets/libraryManager.png
  content/tutorials/projects/iot-air-quality-checker/assets/thingsProperties.png
  content/tutorials/projects/iot-air-quality-checker/image.png
  content/tutorials/projects/iot-air-quality-checker/iot-air-quality-checker.md
  content/tutorials/projects/iot-air-quality-checker/sketchTab.png
Labels: fix/update, preview
