Repository arduino/docs-content, pull requests merged in 2024-06, with the labels that each got.

#1991 removing contribution tutorial
  content/_unlisted/arduino-creating-content-guide/arduino-creating-content-guide.md
Labels: arduino, preview

#1951 [MKC-1612] update sketches article
  content/arduino-cloud/03.cloud-interface/00.sketches/assets/sketch.png
  content/arduino-cloud/03.cloud-interface/00.sketches/sketches.md
Labels: fix/update, arduino, maker, cloud, preview

#1996 [MKC-1677]Added note for watchdog timer compatibility
  content/arduino-cloud/03.cloud-interface/00.sketches/sketches.md
Labels: cloud, preview

#1995 benjamindannegard/Advanced map widget section
  content/arduino-cloud/03.cloud-interface/03.dashboard-widgets/assets/widget-advanced-map.png
  content/arduino-cloud/03.cloud-interface/03.dashboard-widgets/dashboard-widgets.md
Labels: preview

#1999 [PC-1771] - Portenta C33 User Manual UART Example Update
  content/hardware/04.pro/boards/portenta-c33/tutorials/user-manual/assets/UARTCommunication.zip
  content/hardware/04.pro/boards/portenta-c33/tutorials/user-manual/assets/user-manual-23.png
  content/hardware/04.pro/boards/portenta-c33/tutorials/user-manual/assets/user-manual-24.png
  content/hardware/04.pro/boards/portenta-c33/tutorials/user-manual/content.md
Labels: documentation, arduino, pro, preview

#2001 Fixed subtitle on the wrong image (Alvik)
  content/hardware/08.edu/solution-and-kits/alvik/tutorials/user-manual/user-manual.md
Labels: fix/update, arduino

#2002 New certificates for Science Kit R3
  content/hardware/_unlisted/kits/science-kit-r3/certifications/Arduino_AKX00045-CERT_CE_EMC.pdf
  content/hardware/_unlisted/kits/science-kit-r3/certifications/Arduino_AKX00045-CERT_CE_FCC.pdf
  content/hardware/_unlisted/kits/science-kit-r3/certifications/Arduino_AKX00045-CERT_CE_IC.pdf
  content/hardware/_unlisted/kits/science-kit-r3/product.md
Labels: education, certifications

#1864 2.0.9
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
  .gitignore
  content/_dev-test/content.md
  content/language-reference/01.functions/01.digital-io/digitalread/function.md
  content/language-reference/01.functions/01.digital-io/digitalwrite/function.md
  content/language-reference/01.functions/02.math/abs/function.md
  content/language-reference/01.functions/02.math/constrain/function.md
  content/language-reference/01.functions/category.md
  content/language-reference/02.variables/01.constants/constants/variable.md
  content/language-reference/02.variables/01.constants/floatingPointConstants/variable.md
  content/language-reference/02.variables/category.md
  content/language-reference/03.structure/category.md
  content/language-reference/language-reference.md
  content/programming/01.language-reference/language-reference.md
  package-lock.json
  package.json
Labels: arduino, infrastructure

#2004 Nano Matter Community Preview - Information Update
  content/hardware/03.nano/boards/nano-matter/tutorials/user-manual/content.md
  content/hardware/_unlisted/boards/nano-matter/product.md
Labels: pro, preview

#2006 Nano Matter-Hot fix
  content/hardware/_unlisted/boards/nano-matter/product.md
Labels: preview

#1976 Eric arduino due datasheet
  .vscode/tasks.json
  content/hardware/10.mega/boards/due/datasheet/assets/Arduino Due topology.png
  content/hardware/10.mega/boards/due/datasheet/assets/Arduino_Due_Connectors.png
  content/hardware/10.mega/boards/due/datasheet/assets/DueUSBPorts.jpg
  content/hardware/10.mega/boards/due/datasheet/assets/GIGA_R1_WiFi_Block_Diagram.png
  content/hardware/10.mega/boards/due/datasheet/assets/GIGA_R1_WiFi_Power_Tree.png
  content/hardware/10.mega/boards/due/datasheet/assets/ad-pinout.png
  content/hardware/10.mega/boards/due/datasheet/assets/dueMechanical.png
  content/hardware/10.mega/boards/due/datasheet/assets/featured.png
  content/hardware/10.mega/boards/due/datasheet/datasheet.md
  content/hardware/10.mega/boards/due/datasheet/datasheet45.md
  content/hardware/10.mega/boards/due/downloads/A000056-cad-files.zip
  content/hardware/10.mega/boards/due/downloads/A000056-full-pinout.pdf
  content/hardware/10.mega/boards/due/downloads/A000056-schematics.pdf
  content/hardware/10.mega/boards/due/downloads/A000062-datasheet.pdf
  content/hardware/10.mega/boards/due/downloads/Arduino Due (Rev2b).fzpz
  content/hardware/10.mega/boards/due/downloads/ArduinoDUE_V02g_sch.pdf
  content/hardware/10.mega/boards/due/downloads/ArduinoDUE_v02g.zip
  content/hardware/10.mega/boards/due/downloads/Arduino_Due_Technical_Drawing.pdf
Labels: Datasheet, arduino

#2009 [MKC-1697] Add GIGA connector note
  content/hardware/10.mega/boards/giga-r1-wifi/tutorials/cheat-sheet/cheat-sheet.md
  content/hardware/10.mega/shields/giga-display-shield/tutorials/01.getting-started/getting-started.md
Labels: maker, preview

#2008 [MKC-1671] Add Getting started guide UNO R3
  content/hardware/02.hero/boards/uno-rev3/product.md
  content/hardware/02.hero/boards/uno-rev3/tutorials/getting-started/assets/install-uno-core.png
  content/hardware/02.hero/boards/uno-rev3/tutorials/getting-started/assets/open-ide.png
  content/hardware/02.hero/boards/uno-rev3/tutorials/getting-started/assets/uno-connected.png
  content/hardware/02.hero/boards/uno-rev3/tutorials/getting-started/assets/uno-examples.png
  content/hardware/02.hero/boards/uno-rev3/tutorials/getting-started/getting-started.md
Labels: maker, preview

#1997 [MKC-1672] Add Nano Getting Started Docs
  content/hardware/03.nano/boards/nano/product.md
  content/hardware/03.nano/boards/nano/tutorials/nano-getting-started/assets/install-nano-core.png
  content/hardware/03.nano/boards/nano/tutorials/nano-getting-started/assets/nano-connected.png
  content/hardware/03.nano/boards/nano/tutorials/nano-getting-started/assets/nano-examples.png
  content/hardware/03.nano/boards/nano/tutorials/nano-getting-started/assets/open-ide.png
  content/hardware/03.nano/boards/nano/tutorials/nano-getting-started/nano-getting-started.md
Labels: documentation, Tutorial, arduino, maker, preview

#2018 [MKC-1673] Mega 2560 Get started Docs
  content/hardware/10.mega/boards/mega-2560/product.md
  content/hardware/10.mega/boards/mega-2560/tutorials/getting-started/assets/install-mega-core.png
  content/hardware/10.mega/boards/mega-2560/tutorials/getting-started/assets/mega-connected.png
  content/hardware/10.mega/boards/mega-2560/tutorials/getting-started/assets/mega-examples.png
  content/hardware/10.mega/boards/mega-2560/tutorials/getting-started/assets/open-ide.png
  content/hardware/10.mega/boards/mega-2560/tutorials/getting-started/getting-started.md
Labels: maker, preview

#2020 [PC-1707] - Add I2S Interface to the Portenta's C33 Tech Specs Table
  content/hardware/04.pro/boards/portenta-c33/tech-specs.yml
Labels: documentation, fix/update, arduino, pro, preview

#2027 [MKC-1716] Update Nano RP2040 Pinout
  content/hardware/03.nano/boards/nano-rp2040-connect/downloads/ABX00053-full-pinout.pdf
Labels: documentation, arduino, maker, preview

#2031 [MKC-1702] Fixed link and name of next chapter (Micropython intro)
  content/micropython/02.micropython-course/course/00.introduction-arduino/intro-to-arduino.md
Labels: fix/update, preview

#2037 Alvik - update GIF
  content/hardware/08.edu/solution-and-kits/alvik/tutorials/getting-started/assets/select-examples.gif
Labels: fix/update, education

#2042 new compliance documents for edu kits
  content/hardware/_unlisted/kits/plc-starter-kit/certifications/Arduino_AKX00051-CERT_RoHS.pdf
  content/hardware/_unlisted/kits/plc-starter-kit/product.md
  content/hardware/_unlisted/kits/science-kit-r3/certifications/Arduino_AKX00045-DoC_FCC.pdf
Labels: certifications

#2022 [MKC-1675] Update MicroPython examples
  content/micropython/01.basics/06.board-examples/board-examples.md
Labels: bug, documentation, arduino, maker, preview

#2033 [MKC-1707] Webhook Feature Update
  content/arduino-cloud/06.features/11.webhooks/assets/webhooks-01.png
  content/arduino-cloud/06.features/11.webhooks/assets/webhooks-02.png
  content/arduino-cloud/06.features/11.webhooks/assets/webhooks-03.png
  content/arduino-cloud/06.features/11.webhooks/iot-cloud-webhooks.md
Labels: fix/update, cloud, preview
