Repository arduino/docs-content, pull requests merged in 2024-04, with the labels that each got.

#1837 2.0.7
  package-lock.json
  package.json
Labels: arduino, infrastructure

#1850 Pre-launch fixes DIN boards
  content/hardware/08.edu/solution-and-kits/din-celsius/datasheet/datasheet.md
  content/hardware/08.edu/solution-and-kits/din-celsius/product.md
  content/hardware/08.edu/solution-and-kits/din-simul8/product.md
Labels: Datasheet, arduino, launch, certifications

#1836 update puzzlebox, the nerd
  content/hardware/09.kits/maker/iot-bundle/tutorials/puzzlebox/assets/screenshot_2022-11-23_141306_tsMoI77zJw.png
  content/hardware/09.kits/maker/iot-bundle/tutorials/puzzlebox/content.md
  content/hardware/09.kits/maker/iot-bundle/tutorials/the-nerd/assets/circuit.png
  content/hardware/09.kits/maker/iot-bundle/tutorials/the-nerd/assets/screenshot_2022-11-18_175524_4XRWc1dHYc.png
  content/hardware/09.kits/maker/iot-bundle/tutorials/the-nerd/assets/the_nerd_rp2040_dqr7egmpao_ESpsLy8iaq.png
  content/hardware/09.kits/maker/iot-bundle/tutorials/the-nerd/content.md
Labels: fix/update, arduino

#1842 Remove superfluous code in example
  content/arduino-cloud/01.guides/04.micropython/content.md
Labels: fix/update, arduino

#1853 new documents for Nano ESP32
  content/hardware/03.nano/boards/nano-esp32/certifications/Arduino_ABX00083-CERT_FCC_with or without headers.pdf
  content/hardware/03.nano/boards/nano-esp32/certifications/Arduino_ABX00083-CERT_IC_with or without headers.pdf
  content/hardware/03.nano/boards/nano-esp32/certifications/Arduino_ABX00083-CERT_MIC_with or without headers.pdf
  content/hardware/03.nano/boards/nano-esp32/certifications/Arduino_ABX00083-DoC_FCC_with or without headers.pdf
  content/hardware/03.nano/boards/nano-esp32/product.md
Labels: arduino, certifications

#1855 FCC DoC for Nano ESP32
  content/hardware/03.nano/boards/nano-esp32/certifications/Arduino_ABX00083-CERT_FCC_with or without headers_2 of 2.pdf
  content/hardware/03.nano/boards/nano-esp32/certifications/Arduino_ABX00083-CERT_RCM_with or without headers.pdf
  content/hardware/03.nano/boards/nano-esp32/certifications/Arduino_ABX00083-DoC_FCC_with or without headers_1 of 2.pdf
  content/hardware/03.nano/boards/nano-esp32/product.md
Labels: arduino, certifications

#1600 [MKC-1365] Add Frames and animation gallery to UNO R4 LED Matrix Guide
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/led-matrix/led-matrix.md
Labels: arduino, maker

#1847 2.0.8
  package-lock.json
  package.json
Labels: arduino, infrastructure

#1860 Updating product name trademark
  content/hardware/04.pro/carriers/portenta-mid-carrier/tutorials/user-manual/content.md
Labels: fix/update, Tutorial, arduino, pro

#1863 fixing declarations for Pro 4G Modules
  content/hardware/_unlisted/boards/pro-4g-gnss-module-global/product.md
  content/hardware/_unlisted/boards/pro-4g-module-emea/certifications/product.md
  content/hardware/_unlisted/boards/pro-4g-module-emea/product.md
Labels: arduino, certifications

#1865 added missing skus to products
  content/hardware/03.nano/boards/nano-33-ble-rev2/product.md
  content/hardware/_unlisted/shields/mega-proto-shield-rev3/product.md
  content/retired/01.boards/arduino-BT/content.md
  content/retired/01.boards/arduino-fio/content.md
  content/retired/01.boards/arduino-tre/content.md
  content/retired/02.shields/arduino-xbee-shield/content.md
  content/retired/03.kits/IoT-prime/content.md
  content/retired/03.kits/arduino-on-android-kit/content.md
Labels: fix/update, arduino

#1858 remove header files
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/led-matrix/led-matrix.md
Labels: fix/update, arduino, maker

#1870 update cloud setup docs
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/cloud-setup/assets/naming.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/cloud-setup/assets/network.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/cloud-setup/assets/secretKey.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/cloud-setup/assets/updateDevice.png
  content/hardware/02.hero/boards/uno-r4-wifi/tutorials/cloud-setup/cloud-setup.md
Labels: fix/update, arduino, cloud

#1878 adding word to spellcheck ignore list
  scripts/resources/spell-check-ignore-list.txt
Labels: arduino, infrastructure

#1881 Fix broken links in content
  content/built-in-examples/07.display/BarGraph/BarGraph.md
  content/hardware/01.mkr/01.boards/mkr-wan-1300/tutorials/lora-send-and-receive/lora-send-and-receive.md
  content/hardware/01.mkr/01.boards/mkr-wan-1300/tutorials/the-things-network/the-things-network.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/lora-send-and-receive/lora-send-and-receive.md
  content/hardware/01.mkr/01.boards/mkr-wan-1310/tutorials/the-things-network/the-things-network.md
  content/hardware/02.hero/boards/uno-mini-limited-edition/tutorials/uno-mini-le-guide/uno-mini-le-guide.md
  content/hardware/03.nano/boards/nano-33-ble-rev2/features.md
  content/hardware/03.nano/boards/nano-33-ble-sense-rev2/features.md
  content/hardware/03.nano/boards/nano-33-ble-sense-rev2/tutorials/imu-accelerometer/content.md
  content/hardware/03.nano/boards/nano-33-ble-sense/features.md
  content/hardware/03.nano/boards/nano-33-ble/features.md
  content/hardware/03.nano/boards/nano-matter/tutorials/user-manual/content.md
  content/hardware/03.nano/boards/nano-rp2040-connect/features.md
  content/hardware/04.pro/carriers/portenta-max-carrier/tutorials/user-manual/content.md
  content/hardware/04.pro/carriers/portenta-mid-carrier/tutorials/user-manual/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/connecting-to-ttn/content.md
  content/hardware/04.pro/shields/portenta-vision-shield/tutorials/things-network-openmv/content.md
  content/hardware/06.nicla/boards/nicla-sense-me/tutorials/user-manual/content.md
  content/hardware/06.nicla/boards/nicla-voice/tutorials/user-manual/content.md
  content/hardware/10.mega/boards/giga-r1-wifi/tutorials/giga-micropython/giga-micropython.md
  content/hardware/10.mega/shields/giga-display-shield/tutorials/01.getting-started/getting-started.md
  content/hardware/10.mega/shields/giga-display-shield/tutorials/03.lvgl-guide/content.md
  content/hardware/10.mega/shields/giga-display-shield/tutorials/05.basic-touch/basic-touch.md
  content/learn/03.programming/08.sd-guide/sd-guide.md
  content/learn/04.electronics/07.low-power/low-power.md
  content/learn/04.electronics/10.power-pins/power-pins.md
  content/learn/08.contributions/01.arduino-library-style-guide/arduino-library-style-guide.md
  content/micropython/01.basics/03.code-editors/code-editors.md
  content/micropython/01.basics/05.digital-analog-pins/digital-analog-pins.md
  content/micropython/02.micropython-course/projects/alarm-clock/alarm-clock-project.md
  content/micropython/02.micropython-course/projects/scene-changer/scene-changer.md
  content/retired/01.boards/arduino-primo-core/content.md
  content/retired/01.boards/arduino-primo/content.md
  content/retired/04.other/arduino-and-python/arduino-and-python.md
  content/retired/05.archived-libraries/Robot/Robot.md
  content/retired/06.getting-started-guides/ArduinoFio/ArduinoFio.md
  content/retired/06.getting-started-guides/ArduinoM0/ArduinoM0.md
  content/software/ide-v2/tutorials/02.ide-v2-board-manager/ide-v2-board-manager.md
  content/software/web-editor/getting-started-with-intel-based-platforms-on-arduino-create/getting-started-with-intel-based-platforms-on-arduino-create.md
  content/tutorials/communication/rs-232/rs-232.md
  content/tutorials/generic/multiple-blinks/multiple-blinks.md
  content/tutorials/generic/secrets-of-arduino-pwm/secrets-of-arduino-pwm.md
Labels: bug, arduino

#1875 Wisgates Warning message updated
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-lite-2/tutorials/update-firmware/content.md
Labels: documentation, arduino, pro

#1891 Fixing format of the warning, bold changed to __
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-lite-2/tutorials/update-firmware/content.md
Labels: pro

#1872 Update the Giga RPC/dual-core tutorial.
  content/hardware/10.mega/boards/giga-r1-wifi/tutorials/giga-dual-core/giga-dual-core.md
Labels: fix/update, arduino, maker

#1895 misc: Update github checkout action.
  .github/workflows/workflow-validate.yaml
Labels: arduino, infrastructure

#1903 Fix typo in get-started-with-machine-learning.md
  content/hardware/03.nano/boards/nano-33-ble-sense/tutorials/get-started-with-machine-learning/get-started-with-machine-learning.md
Labels: fix/update, community

#1901 Updating trademarks in edu datasheets
  content/hardware/08.edu/carriers/braccio-carrier/datasheet/datasheet.md
  content/hardware/08.edu/solution-and-kits/din-celsius/datasheet/datasheet.md
  content/hardware/08.edu/solution-and-kits/din-simul8/datasheet/datasheet.md
Labels: documentation, Datasheet, arduino, education

#1900 Updating trademarks in mega datasheets
  content/hardware/10.mega/boards/giga-r1-wifi/datasheet/datasheet.md
  content/hardware/10.mega/boards/mega-2560/datasheet/datasheet.md
  content/hardware/10.mega/shields/giga-display-shield/datasheet/datasheet.md
Labels: documentation, Datasheet, arduino, maker

#1899 Updating trademarks in hero datasheets
  content/hardware/02.hero/boards/uno-mini-limited-edition/datasheet/datasheet.md
  content/hardware/02.hero/boards/uno-r4-minima/datasheet/datasheet.md
  content/hardware/02.hero/boards/uno-rev3/datasheet/datasheet.md
Labels: documentation, Datasheet, arduino, maker

#1902 Updating trademarks in kit datasheets
  content/hardware/09.kits/maker/make-your-uno-kit/datasheet/datasheet.md
Labels: documentation, Datasheet, arduino, maker
