Repository arduino/docs-content, pull requests merged in 2025-01, with the labels that each got.

#2348 [PXCT-359] Uno Mini - Broken button fix local path
  content/hardware/02.hero/boards/uno-mini-limited-edition/product.md
Labels: preview

#2352 Proto Shield Datasheet Fix Patch
  content/hardware/04.pro/shields/portenta-mid-carrier-proto-shield/datasheet/datasheet.md
Labels: arduino, pro

#2344 New FCC DoCs and 1 update to product.md
  content/hardware/_unlisted/kits/opta-ext-d1608e/certifications/Arduino_AFX00005-DoC_FCC.pdf
  content/hardware/_unlisted/kits/opta-ext-d1608s/certifications/Arduino_AFX00006-DoC_FCC.pdf
  content/hardware/_unlisted/kits/opta-wifi/product.md
Labels: certifications

#2354 Portenta Mid Carrier Proto Shield: Product Page Patch
  content/hardware/04.pro/shields/portenta-mid-carrier-proto-shield/product.md
Labels: fix/update, arduino, pro

#2355 declarations for ASX00072
  content/hardware/_unlisted/shields/portenta-mid-carrier-proto-shield/certifications/Arduino_ASX00072-DoC_CE.pdf
  content/hardware/_unlisted/shields/portenta-mid-carrier-proto-shield/certifications/Arduino_ASX00072-DoC_UKCA.pdf
  content/hardware/_unlisted/shields/portenta-mid-carrier-proto-shield/product.md
Labels: certifications, preview

#2346 [PXCT-254] Motor Anomaly Detection Opta + Nicla Sense ME (App Note)
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/Nicla_Opta_ML_Vibration_Anomaly_Detection.zip
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/anomaly-explorer.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/dashboard.gif
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/download.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/dsp-result.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/edge-impulse-deploy.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/learning-h.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/machine-learning-overview.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/materials.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/processing-h.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/raw-signal-h.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/setup.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/thumbnail-c.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/assets/time-h.png
  content/hardware/07.opta/opta-family/opta/tutorials/22.ml-anomaly-detection-app-note/content.md
Labels: preview

#2363 [PXCT-333] Pro 4G Module: Unlisted Directories Cleanup
  content/hardware/04.pro/modules/pro-4g-module/certifications/Arduino_TPX00200-CERT_FCC.pdf
  content/hardware/04.pro/modules/pro-4g-module/certifications/Arduino_TPX00200-CERT_IC.pdf
  content/hardware/04.pro/modules/pro-4g-module/certifications/Arduino_TPX00200-DoC_CE.pdf
  content/hardware/04.pro/modules/pro-4g-module/certifications/Arduino_TPX00200-DoC_FCC.pdf
  content/hardware/04.pro/modules/pro-4g-module/certifications/Arduino_TPX00200-DoC_UKCA.pdf
  content/hardware/04.pro/modules/pro-4g-module/certifications/Arduino_TPX00201-DoC_CE.pdf
  content/hardware/04.pro/modules/pro-4g-module/certifications/Arduino_TPX00201-DoC_UKCA.pdf
  content/hardware/04.pro/modules/pro-4g-module/product.md
  content/hardware/_unlisted/boards/pro-4g-gnss-module-global/product.md
  content/hardware/_unlisted/boards/pro-4g-module-emea/product.md
Labels: fix/update, arduino, pro

#2367 Portenta Vision Shield Datasheet Rendering Fix
  content/hardware/04.pro/shields/portenta-vision-shield/datasheet/datasheet.md
Labels: preview

#2370 [PXCT-437] - Portenta Proto Kit ME Datasheet (Fixes)
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-me/datasheet/datasheet.md
Labels: Datasheet, fix/update, arduino, pro, preview

#2377 Update Arduino_ABX00083-CERT_RoHS_with or without headers.pdf
  content/hardware/03.nano/boards/nano-esp32/certifications/Arduino_ABX00083-CERT_RoHS_with or without headers.pdf
Labels: certifications

#2366 [pxct-461] alvik info on protective sticker
  content/hardware/08.edu/solution-and-kits/alvik/tutorials/getting-started-mblock/assets/Alvik-battery-pull-tab.jpg
  content/hardware/08.edu/solution-and-kits/alvik/tutorials/getting-started-mblock/getting-started-mblock.md
  content/hardware/08.edu/solution-and-kits/alvik/tutorials/getting-started/assets/Alvik-battery-pull-tab.jpg
  content/hardware/08.edu/solution-and-kits/alvik/tutorials/getting-started/getting-started.md
  content/hardware/08.edu/solution-and-kits/alvik/tutorials/user-manual/assets/Alvik-battery-pull-tab.jpg
  content/hardware/08.edu/solution-and-kits/alvik/tutorials/user-manual/user-manual.md
Labels: fix/update, arduino, education, preview

#2374 [PXCT-490] Added UART
  content/micropython/06.communication/uart/assets/UARTHello.png
  content/micropython/06.communication/uart/assets/UARTTestingSetup.png
  content/micropython/06.communication/uart/uart.md
Labels: documentation, preview

#2385 removing REACH test reports
  content/hardware/01.mkr/01.boards/mkr-wan-1310/certifications/Arduino_ABX00029-CERT_REACH.pdf
  content/hardware/01.mkr/01.boards/mkr-wan-1310/product.md
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/certifications/Arduino_ABX00023-CERT_REACH.pdf
  content/hardware/01.mkr/01.boards/mkr-wifi-1010/product.md
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/certifications/Arduino_ABX00047-CERT_REACH.pdf
  content/hardware/01.mkr/03.carriers/mkr-iot-carrier/product.md
  content/hardware/02.hero/boards/uno-rev3/certifications/Arduino_A000066-CERT_REACH.pdf
  content/hardware/02.hero/boards/uno-rev3/product.md
  content/hardware/03.nano/boards/nano-33-ble-sense/certifications/Arduino_ABX00031-CERT_REACH_without headers.pdf
  content/hardware/03.nano/boards/nano-33-ble-sense/certifications/Arduino_ABX00035-CERT_REACH_with headers.pdf
  content/hardware/03.nano/boards/nano-33-ble-sense/product.md
  content/hardware/03.nano/boards/nano-33-ble/certifications/Arduino_ABX00030-CERT_REACH_without headers.pdf
  content/hardware/03.nano/boards/nano-33-ble/certifications/Arduino_ABX00034-CERT_REACH_with headers.pdf
  content/hardware/03.nano/boards/nano-33-ble/product.md
  content/hardware/03.nano/boards/nano-33-iot/certifications/Arduino_ABX00027-CERT_REACH_without headers.pdf
  content/hardware/03.nano/boards/nano-33-iot/certifications/Arduino_ABX00032-CERT_REACH_with headers.pdf
  content/hardware/03.nano/boards/nano-33-iot/product.md
  content/hardware/03.nano/boards/nano-every/certifications/Arduino_ABX00028-CERT_REACH_without headers.pdf
  content/hardware/03.nano/boards/nano-every/certifications/Arduino_ABX00033-CERT_REACH with headers.pdf
  content/hardware/03.nano/boards/nano-every/product.md
  content/hardware/03.nano/boards/nano-rp2040-connect/certifications/Arduino_ABX00052_ABX00053-CERT_REACH.pdf
  content/hardware/03.nano/boards/nano-rp2040-connect/product.md
  content/hardware/03.nano/carriers/nano-screw-terminal-adapter/certifications/Arduino_ASX00037-CERT_REACH.pdf
  content/hardware/03.nano/carriers/nano-screw-terminal-adapter/product.md
  content/hardware/04.pro/shields/portenta-vision-shield/certifications/Arduino_ASX00021-CERT_REACH_Ethernet.pdf
  content/hardware/04.pro/shields/portenta-vision-shield/certifications/Arduino_ASX00026-CERT_REACH_LoRa.pdf
  content/hardware/05.pro-solutions/solutions-and-kits/edge-control/certifications/Arduino_AKX00034-CERT_REACH.pdf
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-machine-control/certifications/Arduino_AKX00032-CERT_REACH.pdf
Labels: certifications
