Repository arduino/docs-content, pull requests merged in 2025-03, with the labels that each got.

#2398 [PXCT-484] - Portenta Proto Kit VE Datasheet
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/4g_module.jpg
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/kit_power_supply.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/nicla_sense_env.jpg
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/nicla_vision.jpg
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/portenta_h7.jpg
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/portenta_mid_carrier.jpg
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/portenta_mid_carrier_proto_shield.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/proto-kit-example-mechanical-1.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/proto-kit-example-mechanical-2.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/proto-kit-perspective-dismounted.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/assets/proto-kit-perspective.png
  content/hardware/05.pro-solutions/solutions-and-kits/portenta-proto-kit-ve/datasheet/datasheet.md
Labels: documentation, Datasheet, arduino, pro

#2422 [PXCT-534] - ASEC-25-001 Security Response Guidelines to PLC IDE Tutorial
  content/software/plc-ide/tutorials/09.plc-ide-cloud-support/content.md
Labels: documentation, arduino, pro, cloud, preview

#2423 [PXCT-575] Wisgate Edge Pro: SKU & Frequency Update
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-pro/tech-specs.yml
Labels: documentation, arduino, pro

#2419 [PXCT-323] Display Shield- Image from USB/SD card on GIGA Display Shield
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.usb-display/assets/file-list.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.usb-display/assets/image-example.jpg
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.usb-display/assets/lupe800x480.jpg
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.usb-display/assets/lvgl-converter-settings.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.usb-display/content.md
Labels: preview

#2372 [PXCT-410] Update Nano Screw Terminal data sheet
  content/hardware/03.nano/carriers/nano-screw-terminal-adapter/datasheet/assets/BoardOutline.png
  content/hardware/03.nano/carriers/nano-screw-terminal-adapter/datasheet/assets/mechanical.svg
  content/hardware/03.nano/carriers/nano-screw-terminal-adapter/datasheet/datasheet.md
Labels: documentation, fix/update, preview

#2431 [PXCT-671] WisGate Edge Pro: Datasheet Format Fix
  content/hardware/05.pro-solutions/solutions-and-kits/wisgate-edge-pro/datasheet/datasheet.md
Labels: preview

#2427 new certificates for Nicla Sense Env
  content/hardware/06.nicla/boards/nicla-sense-env/certifications/Arduino_ABX00089-CERT_CE_EMC.pdf
  content/hardware/06.nicla/boards/nicla-sense-env/certifications/Arduino_ABX00089-CERT_FCC.pdf
  content/hardware/06.nicla/boards/nicla-sense-env/certifications/Arduino_ABX00089-CERT_IC.pdf
  content/hardware/06.nicla/boards/nicla-sense-env/certifications/Arduino_ABX00089-CERT_UKCA_1 of 2.pdf
  content/hardware/06.nicla/boards/nicla-sense-env/certifications/Arduino_ABX00089-CERT_UKCA_2 of 2.pdf
  content/hardware/06.nicla/boards/nicla-sense-env/product.md
Labels: certifications

#2439 [PXCT-746] - Nicla Sense Env Documentation Updates
  content/hardware/06.nicla/boards/nicla-sense-env/datasheet/datasheet.md
  content/hardware/06.nicla/boards/nicla-sense-env/tutorials/01.user-manual/assets/user-manual-23.png
Labels: documentation, Datasheet, fix/update, arduino, pro

#2187 [PXCT-160] Appwizard tutorial
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-button.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-complete-gui.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-demo-folder-library-code.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-demo-folder-library.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-demo-folder-src.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-examples-folder.gif
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-library-example.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-library-include.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-rotary.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-screen-box.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-slider.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-switch.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/appwizard-text-box.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/result.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/start-project.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/assets/thumbnail.png
  content/hardware/10.mega/shields/giga-display-shield/tutorials/13.appwizard-guide/content.md
Labels: preview

#2442 MKR VIDOR Datasheet Table Fix
  content/hardware/01.mkr/01.boards/mkr-vidor-4000/datasheets/datasheet.md
Labels: preview
